#datetime-picker{
    padding: 8px 16px;
    border: 1px solid #808080;
border-radius: 4px;
width: 272px;



font-family: "Montserrat", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #2e2f42;
}

button[data-start]{
    font-family: "Montserrat", sans-serif;
    margin-left: 8px;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #989898;

border-radius: 8px;
padding: 8px 16px;
width: 75px;
height: 40px;
background: #cfcfcf;
color: #989898;
border: none;
}


.timer{
    justify-content: center;
    display: flex;
    padding-top: 32px;
    font-family: "Montserrat", sans-serif;
font-weight: 400;
font-size: 40px;
line-height: 1.2;
letter-spacing: 0.04em;
gap: 24px;
color: #2e2f42;
}
.field{
    display: flex;
    flex-direction: column;
    
}
.label{
    font-family: "Montserrat", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
color: #2e2f42
}
.stop-timer{
    border-radius: 8px;
padding: 8px 16px;
width: 75px;
height: 40px;
background-color: tomato;
color: black;
margin-top: 20px;
border: none;
}