.form{
    width: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.form [name=delay]{
border: 1px solid #808080;
border-radius: 4px;
width: 100%;
padding: 8px 16px;
outline: none;

margin-top: 8px;

font-family: "Montserrat", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #2e2f42;
}
.form [name=delay]:focus{
    border: 1px solid #4e75ff;
}
.form [name=state]{
    font-family: "Montserrat", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 1.5;
color: #2e2f42;
}

label{
    
    width: 360px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: start;
    margin-bottom: 16px;
}
.form fieldset {
  border: 1px solid #ccc;  
  border-radius: 5px;       
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 48px;
  margin-bottom: 24px;
}
fieldset label{
    width: auto;
    align-items: center;
    flex-direction: row;
    margin-bottom: 0;
    margin-bottom: 8px;
}
fieldset legend{
    text-align: left; 
    padding-left: 28px;
}
.form button{
background: #4e75ff;
border-radius: 8px;
padding: 8px 16px;
width: 100%;
border: none;
font-family: "Montserrat", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.04em;
color: #fff;
transition: background 300ms ease-in-out;
}
.form button:hover{
    background: #6c8cff;
}
.form [name="state"]{
    margin: 0;
    margin-right: 8px;
    border: 1px solid #757575;
border-radius: 14px;
width: 20px;
height: 20px;
}